.cols-wrapper {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);	
}

.map-wrapper {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);    
}

.page-heading-sec {
  margin: 30px 0px 25px 0px;
}

.page-heading-sec h2 { 
	margin-bottom: 0;
  line-height: 100%;
  font-size: 24px;	
}