/***************************Header***********************/

#header .dropdown-menu {display: block;visibility: hidden;opacity:0;font-size: 13px;transform: translateY(50px);transition:.5s ease all;}
#header .dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

#header .badge {
  position: relative;
  top: -10px;
  left: -5px;
  border-radius: 50%;
}

.header-shrinked {
  padding-left: 66px !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;    
}

#header {
  width: 100%;
  padding-left: 219px;
  position: fixed;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;    
}

#header .dropdown-menu {
  left: -140px;  
}

.search-form input[type="search"] {
  border: 0px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 13px;
}

.search-form input[type="search"]:focus {
  box-shadow: none;
  border-bottom: 1px solid var(--menu-bg-color);
}

.search-form button {
  border-radius: 50% !important;
  width: 30px;
  height: 34px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--menu-bg-color);
  border: 1px solid var(--menu-bg-color);
}

.search-form button:hover, .search-form button:focus {
  border-radius: 50%;
  border: 1px solid var(--menu-bg-color);
  background: var(--menu-bg-color) !important;
}

#header h4 {
  margin: 0px;
  font-size: 18px;
}

#header {
  margin-bottom: 10px;
  z-index: 2;
}

#header nav {
  background-color: #ffffff!important;
  height: 50px;
  padding: 0 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

#header nav .navbar-nav > li {
  margin-left: 15px;
}

#header .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  display: none;
}